*{
    /*box-sizing: border-box;*/
    font-family: Arial;
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    background: #cdcbcb;
    min-width: 400px;
}

.bl-background {
    padding-top: 86px;
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap;*/
    min-width: 430px;
}

.bl-column-list{
    width: 760px;
    padding: 14px;
}

.bl-column-bought{
    width: 330px;
    padding: 14px;
}

.bl-list {
    /*background: #cdcbcb;*/
    border: 1px solid #e3e0e0;
    border-radius: 10px;
    background: white;
}

.bl-row.bl-find-row{
    box-sizing: border-box;
    height: 65px;
    padding: 14px 14px 14px 14px;
    border-top: 0;
    display: flex;
}

.bl-search{
    /*background: white;*/
    font-size: 14px;
    border: 1px solid #e3e0e0;
    border-right: 0;
    border-radius: 5px 0 0 5px;
    width: 100%;
    padding-left: 15px;
}

.bl-button-add{
    background: #268ad6;
    color: white;
    font-weight: bold;
    font-size: 15px;
    font-weight: bold;
    /*box-shadow: 0 5px 0 #127ed6;*/
    box-shadow: 0px -3px 0px 0px #127ed6 inset;
    height: auto;
    width: 140px;

}


.bl-row{
    /*background: white;*/
    height: auto;
    border-top: 1px solid #e3e0e0;
    border-radius: 1px;
    display: flex;
}

.bl-product{
    width: 35%;
    padding: 14px 14px 14px 14px;
    position: relative;
}

.bl-name-product{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    height: auto;
    font-size: 16px;
}
.bl-count{
    width: 25%;
    padding: 7px 14px 0px 14px;
    display: flex;
    justify-content: center;
}

.bl-label{
    background: #d9d9d9;
    color: #4f4f4f;
    width: auto;
    height: 20px;
    text-align: center;
    padding: 5px 8px 0px 8px;
    border: 1px solid white;
    border-radius: 3px;
    margin: 2px 5px 1px 5px;
}

.bl-buttons{
    width: 40%;
    padding: 7px 14px 7px 7px;
}
.bl-button-bought {
    background: #f1f0f0;
    font-weight: bold;
    font-size: 10px;
    color: #707070;
    border: 1px solid #c6c6c6;
    box-shadow: 0 2px #d0d0d0;
    border-radius: 3px;
    height: 30px;
    width: 85px;
    float: right;
}

.bl-button{
    color: white;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 15px;
}

.bl-button.plus{
    background: #00bc00;
    box-shadow: 0px -3px 0px 0px #00a400 inset;
    min-width: 30px;
    min-height: 30px;
}

.bl-button.minus{
    /*Active*/
    /*background: #d70303;*/
    /*box-shadow: 0px -3px 0px 0px #ca0303 inset;*/
    /*Pasive*/
    background: #ff9191;
    min-width: 30px;
    min-height: 30px;
}

.bl-button.delete{
    background: #d70303;
    font-weight: bold;
    border: 1px solid #d70303;
    border-bottom: 1px solid #ca0303;
    box-shadow: 0 2px #ca0303;
    border-radius: 3px;
    float: right;
    margin-left: 5px;
}

.bl-bought{
    border: 1px solid #e3e0e0;
    border-radius: 10px;
    background: white;
}

.bl-title{
    height: auto;
    font-weight: 700;
    font-size: 18px;
    padding: 15px 15px 15px 15px;
    width: 100%;
}

.bl-first-row{
    border: 0;
}

.bl-left{
    height: 100%;
    padding: 7px 7px 7px 14px;
}

.bl-product-left{
    width:auto;
    float: left;
    background: #d9d9d9;
    padding: 5px 5px 5px 5px;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    justify-content: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

.bl-product-name{
    color: #4f4f4f;
    font-size: 10px;
    font-weight: bold;
    padding-top: 3px;
}
.bl-product-num {
    background: coral;
    font-size: 10px;
    color: white;
    width: auto;
    height: 10px;
    text-align: center;
    padding: 2px 4px 2px 4px;
    border: 1px solid coral;
    border-radius: 10px;
    margin: 0 5px 0 5px;
}

.bl-bought-products{
    min-height: 30px;
    height: auto;
}

@media(max-width: 1200px){
    .bl-column-list{
        width: 630px;
    }

    .bl-column-bought{
        width: 270px;
    }
}

@media(max-width: 1000px){
    .bl-column-list{
        width: 480px;
    }

    .bl-column-bought{
        width: 210px;
    }
}

@media (max-width: 500px) {
    .bl-background{
        flex-wrap: wrap;
    }
    .bl-column-list{
        width: 100%;
    }
    .bl-column-bought{
        width: 100%;
    }

}

.minus:hover {
    background: #d70303;
    box-shadow: 0px -3px 0px 0px #ca0303 inset;
}

/*@media (max-width: 500px) {*/
/*    .bl-column-list{*/
/*        width: 100%;*/
/*    }*/
/*    .bl-column-bought{*/
/*        width: 100%;*/
/*    }*/

/*}*/
